@page "/"
@using LoanUi.Services
@using LoanUi.Models
@inject ILoanService _loanService

<h1>Loan Explorer</h1>

<button class="btn btn-primary" @onclick="RequestLoanClicked">Request Loan</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Bank</th>
            <th>Intrest rate</th>
            <th>Monthly payoff precent</th>
        </tr>
    </thead>

    @if (ActiveOffer != null && ActiveOffer.Quotes.Count > 0)
    {
        <tbody>
            @foreach (LoanQuoteDto quote in ActiveOffer.Quotes)
            {
                <tr @onclick="() => SelectLoanOffer(quote)">
                    <td>@quote.BankName</td>
                    <td>@quote.InterestRate</td>
                    <td>@quote.MonthlyPaymentPrecent</td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tfoot>No active offer</tfoot>
    }
</table>

<Modal @ref="modal" OnApprove="ApproveOffer"></Modal>