@page "/"
@using LoanUi.Services
@inject ILoanService LoanService

<h1>Loan Explorer</h1>

<button class="btn btn-primary" @onclick="RequestLoanClicked">Request Loan</button>

@code {

    void RequestLoanClicked()
    {
        Guid customerId = new("23a0fb75-9191-477e-9ed0-abb4d9f830cb");
       
        LoanService.RequestNewLoan(customerId);
    }
}